<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <style>
      .renude-icon-block {
        --width: 128px;
        --padding: 1rem;

        border-radius: 50%;
        max-height: var(--width);
        max-width: var(--width);
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
        padding: var(--padding);
        position: relative;
      }

      .renude-icon-block > svg {
        width: calc(var(--width) - (2 * var(--padding)));
        height: calc(var(--width) - (2 * var(--padding)));
      }

      .renude-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: var(--color-text);
        fill: var(--color-text);
      }
      
      /* ==========================================
      Single-colored icons can be modified like so:
      .icon-name {
        font-size: 32px;
        color: red;
      }
      ========================================== */
      
      .icon-paintbrush {
        width: 0.6875em;
      }
      
      .icon-heart {
        width: 1.15625em;
      }      
    </style>
    <symbol id="icon-paintbrush" viewBox="0 0 22 32">
      <path d="M15.403 21h4.58c1.053 0 1.909-0.856 2.017-1.909v-17.182c-0.108-1.053-0.964-1.909-2.017-1.909h-17.966c-1.053 0-1.909 0.856-2.017 1.909v17.182c0.108 1.053 0.964 1.909 2.017 1.909h4.962c0.348 0 2.083 0.074 2.083 1.542 0 2.622-0.553 3.842-0.762 4.302l-0.049 0.109 0.403 0.174v0.013l-0.447-0.090c-0.017 0.033-0.030 0.068-0.038 0.104-0.154 0.411-0.232 0.833-0.232 1.257 0.001 2.147 1.231 3.589 3.063 3.589 1.851 0 3.094-1.442 3.094-3.589 0-0.391-0.066-0.78-0.198-1.161-0.005-0.114-0.049-0.22-0.119-0.302-0.026-0.060-0.060-0.125-0.101-0.202-0.219-0.415-0.676-1.277-0.676-4.204 0-0.62 0.64-1.542 2.403-1.542zM1 12.059h20v3.941h-20v-3.941zM2.017 1h17.966c0.501 0 0.909 0.408 1.017 0.909v9.149h-20v-9.149c0.108-0.501 0.516-0.909 1.017-0.909zM12.792 27.214c0.028 0.053 0.052 0.097 0.093 0.189 0 0.001 0.003 0.007 0.007 0.016 0.004 0.013 0.008 0.025 0.013 0.038 0.125 0.313 0.188 0.635 0.188 0.954 0.001 1.252-0.549 2.589-2.093 2.589-1.521 0-2.062-1.337-2.062-2.589 0-0.319 0.063-0.641 0.188-0.954 0.004-0.012 0.009-0.023 0.012-0.035 0.014-0.030 0.031-0.068 0.033-0.072l0.042-0.093c0.232-0.514 0.851-1.876 0.851-4.715-0.002-2.007-1.939-2.542-3.114-2.542 0 0 0 0-0.001 0h-4.932c-0.501 0-0.909-0.408-1.017-0.909v-2.091h20v2.091c-0.108 0.501-0.516 0.909-1.017 0.909h-4.58c-2.497 0-3.403 1.521-3.403 2.542 0 3.175 0.535 4.187 0.792 4.672z"></path>
    </symbol>
    <symbol id="icon-heart" viewBox="0 0 37 32">
      <path d="M27 0c-2.476 0-4.856 0.921-6.704 2.595-0.702 0.635-1.303 1.357-1.796 2.154-0.493-0.797-1.094-1.519-1.796-2.155-1.848-1.673-4.228-2.594-6.704-2.594-5.514 0-10 4.486-10 10 0 3.722 1.158 6.66 3.871 9.825 3.942 4.6 13.919 11.62 14.342 11.917 0.086 0.061 0.187 0.091 0.287 0.091s0.201-0.030 0.287-0.091c0.423-0.297 10.4-7.317 14.343-11.917 2.712-3.165 3.87-6.103 3.87-9.825 0-5.514-4.486-10-10-10zM32.371 19.175c-3.495 4.076-12.18 10.341-13.871 11.545-1.691-1.204-10.376-7.469-13.87-11.545-2.545-2.969-3.63-5.713-3.63-9.175 0-4.963 4.038-9 9-9 2.227 0 4.37 0.829 6.032 2.335 0.838 0.76 1.518 1.656 2.020 2.664 0.17 0.34 0.726 0.34 0.896 0 0.502-1.008 1.182-1.904 2.020-2.663 1.662-1.507 3.805-2.336 6.032-2.336 4.962 0 9 4.037 9 9 0 3.462-1.085 6.206-3.629 9.175z"></path>
    </symbol>
    <symbol id="icon-refresh" viewBox="0 0 32 32">
      <path d="M26.631 4h4.869c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-6c-0.276 0-0.5 0.224-0.5 0.5v6c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-4.717l0.611 0.611c2.833 2.833 4.394 6.6 4.394 10.606s-1.561 7.773-4.394 10.606c-4.205 4.206-10.504 5.532-16.051 3.375-0.257-0.102-0.547 0.027-0.647 0.284-0.1 0.258 0.027 0.548 0.285 0.647 1.884 0.732 3.848 1.088 5.797 1.088 4.17 0 8.266-1.63 11.323-4.688 3.022-3.021 4.687-7.040 4.687-11.313s-1.665-8.291-4.687-11.312l-0.687-0.687zM6.5 22c-0.276 0-0.5 0.224-0.5 0.5v4.84l-0.713-0.713c-2.833-2.833-4.394-6.6-4.394-10.606s1.561-7.774 4.394-10.607c4.135-4.136 10.351-5.495 15.836-3.456 0.256 0.096 0.546-0.035 0.643-0.295 0.096-0.259-0.036-0.547-0.295-0.643-5.849-2.172-12.48-0.725-16.891 3.687-3.022 3.021-4.687 7.040-4.687 11.313s1.665 8.292 4.687 11.313l0.666 0.667h-4.746c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h5.856c0.040 0.010 0.376-0.025 0.474-0.123 0.004-0.004 0.005-0.009 0.009-0.013 0.098-0.092 0.161-0.219 0.161-0.364v-6c0-0.276-0.224-0.5-0.5-0.5z"></path>
    </symbol>
  </defs>
</svg>

<div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}
  
    <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {%- assign max_height = 345 -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% when 4 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half' -%}
          {%- assign max_height = 530 -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          {% if block.settings.enable_image %}
            {% if block.settings.icon != blank %}
              <div class="renude-icon-block">
                <svg>
                    <use class="renude-icon" xlink:href="#{{ block.settings.icon }}" />
                </svg>
              </div>
            {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
            {% endif %}
          {% endif %}
          {% if block.settings.title != blank %}
            <h3 class="h4">{{ block.settings.title | escape }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte-setting">{{ block.settings.text }}</div>
          {% endif %}
  
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            {%- capture ariaLabel -%}
              {{- block.settings.button_label -}}
              {%- if block.settings.button_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif block.settings.button_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif block.settings.button_link.object.title -%}
                : {{ block.settings.button_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}
  
            <a href="{{ block.settings.button_link }}"
              class="btn btn--secondary btn--small"
              aria-label="{{ ariaLabel | escape }}">
              {{- block.settings.button_label | escape -}}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  
    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
  
  
  
  {% schema %}
  {
    "name": "Textkolumner med ikoner",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Rubrik",
        "default": "Textkolumner med ikoner"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Textjustering",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Vänster"
          },
          {
            "value": "center",
            "label": "Centrerad"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Kolumn",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Visa ikon",
            "default": false
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Ikon",
            "default": "icon-paintbrush",
            "options": [
              {
                "value": "icon-paintbrush",
                "label": "Pensel"
              },
              {
                "value": "icon-refresh",
                "label": "Återvinning"
              },
              {
                "value": "icon-heart",
                "label": "Hjärta"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Rubrik",
            "default": "Lägg till en titel eller tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Dela blogginlägg, produkter eller kampanjer med dina kunder. Använd den här texten för att beskriva produkter, dela information om tillgänglighet och stil eller som ett utrymme för att visa senaste recensioner eller vanliga frågor.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Knappetikett"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Knapplänk"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Textkolumner med ikoner",
        "category": "RE:NUDE",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
  {% endschema %}
  